.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}
.footer-top-left img {
  height: 40px;
  width: 40px;
}
.footer-top-right {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
}
.footer-subscribe {
  font-size: 20px;
  padding: 22px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 106.28%);
  cursor: pointer;
  transition: 0.3s;
  height: 25px;
}
.footer-email-input img {
  height: 25px;
  width: 25px;
  padding-right: 12px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  grid-area: 50px;
  margin-bottom: 50px;
}
.footer-top-right:hover {
  border: 2px solid white;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .footer {
    margin: 50px 70px;
  }
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}
